<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
   
    <img src="/images.jpg" alt="image">
    <div id="form-div">
        <form action="/post" method="POST">
            <h1><b> WelCome To Tic-Tac-Toe</b></h1>
            <section>
                <h3>Email</h3>
           <li><input type="email" id="email" placeholder="abcd12@gmail.com"></li>
           <h3>Password</h3>
           <li> <input type="password" id="password" placeholder="*******"></li>
           
        </section>
        <h5>Forget password?</h5>
        </form>
        <span>
        <li ><button id="login-btn"><b> Login</b></button></li>
        <li ><button id="sing-btn"><b><a href="/sign">Sign Up</a> </b></button>
        <p>Create an new Account</p></li>
    </span>
    </div>
    
</body>
</html>