body{
    background-color: rgba(151, 219, 88, 0.295);
}
aside{
    margin-left: 28em;
    margin-top: 6em;
}
#aside{
    width: 30rem;
    height: 27rem;
    background-color:rgba(127, 255, 212, 0.603);
    align-items: center;
    border-radius: 10%;
}
#succ-text{
    font-size: 5rem;
    font-family: monospace;
    color: red;
    margin-bottom: 0rem;
    margin-left: 5rem;
}
#cont-btn h4{
    margin-top: 0rem;
    font-size: 1.2rem;
    color: rgba(22, 22, 22, 0.884);
    margin-left: 8rem;
}
img{
    margin-left: 8.5rem;
    margin-top: -0.5rem;

}
#con-btn button{
    font-size: 2rem;
    border-radius: 15px;
    border-color: rgba(255, 127, 80, 0.507);
    background-color: rgba(255, 127, 80, 0.692);
    color: blue;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-left: 10rem;
}