<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucess</title>
    <link rel="stylesheet" href="/sucess.css">
    
</head>
<body>
     <aside id="config-overlay" class="model" >
            <div id="aside">
                <span id="cont-btn" >
            <h1 id="succ-text">Success!</h1>
            <h4>Your account has been Created </h4>
            <img src="/images.png" alt="image">
        </span>
           <section id="con-btn">
        <button id="next-btn"><a href="/login"><b> Continue</b></a> </button> 
    </section>
        </div>
            
        </aside>

</body>
</html>